body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white
}

.contain {
    flex-grow: 1;
    width: 100%;
    min-height: 513px;
    overflow: hidden;
    display: flex;
}

.sidebar {
    height: 99%;
    width: 25%;
    max-width: 395px;
    min-width: 280px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 8px;
    margin-left: 8px;
}


.top-bar {
    height: 96px;
    border-radius: 9px;
    background-color: #121212;
    margin: 0;
    padding: 8px 12px;
    list-style: none;
}

.top-bar-elements {
    width: 100%;
    height: 40px;
    padding: 4px 12px;
    background-color: transparent;
}

#home {
    display: flex;
    flex-wrap: nowrap;
}

.library {
    width: 100%;
    height: 100%;
    background-color: #121212;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
}

.lib-top {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.song-type {
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 450px;
    font-size: 0.81rem;
    color: white;
    margin-left: 12px;
    align-items: center;
    padding-top: 8px;
}

.song-type-elements {
    padding: 4px 6px;
    height: 24px;
}

.song-type-elements span {
    background-color: #232323;
    border-radius: 15px;
    padding: 6px 14px;
    height: 32px;
}

.library-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.search-recents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px 14px;
}

.search-recents button {
    background-color: transparent;
    color: white;
    border: #121212;
}

.albums {
    list-style: none;
    padding: 0;
    margin: 0px 8px;
}

.albums li {
    /* background-color: #232323; */
    height: 64px;
    border-radius: 8px;
}

.albums li:hover {
    background-color: #232323;
}

.albums li a {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 8px;
    align-items: center;
    gap: 2px;
}

.albums li a img {
    margin: 8px;
    border-radius: 4px;
}

.album-content p {
    margin: 0;
    padding: 2px;
    font-weight: 500;
}

.resizer {
    height: 100%;
    width: 9px;
    min-width: 9px;
    display: inline-block;
    background-color: black;
}

.main {
    margin-top: 8px;
    min-width: 520px;
    width: 100%;
    height: 99%;
    background-color:#121212;
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    margin-bottom: 0px;
    border-radius: 9px;
}

.main-header {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.arrow-buttons {
    height: 24px;
    width: 24px;
}

.music-player {
    width: 98.8%;
    min-width: 800px;
    min-height: 87px;
    height: 72px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    justify-content: space-between;
}

.song-info-container {
    display: flex;
    width: 430px;
    height: 60px;
}

.artwork {
    display: inline-block;
    width: 58px;
    height: 58px;
}

.artwork img {
    height: 56px;
    width: 56px;
    margin: 2px;
    border-radius: 4px;
    display: inline-block;
}

.song-info-links {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 14px;
    font-size: 13px;
    width: 130px;
}

.song-name {
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 13px;
}

.song-name a {
    color: white;
}

.song-album {
    height: 15px;
    font-size: 11px;
    margin-top: -11px;
    font-weight: 200;
}

.heart {
    height: 20px;
    align-self: center;
}

.heart span {
    font-size: 20px;
    font-weight: 100;
    transform: scale(1,1.1);
}

.player {
    display: flex;
    flex-wrap: wrap;
    height: 64px;
    width: 50%;
    justify-content: center;
    max-width: 700px;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 24*0px;
    gap: 15px;
    height: 38px;
}

.controls button {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
    height: 38px;
    width: 38px;
}

#playPauseBtn {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    font-size: 17px;
    text-align: center;
}

.progress-bar {
    height: 28px;
    width: 100%;
    color: black;
    margin-top: 5px;
}

.side-controls {
    display: flex;
    width: 430px;
    gap: 7px;
    justify-content: flex-end;
}

.side-control-elements {
    display: inline-block;
    height: 22px;
    width: 22px;
    background-color: transparent;
}

.volume-bar {
    width: 100px;
}
